/* Общие стили для контейнера и текста */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text, .text1 {
    flex: 1;
    padding: 20px;
}

/* Медиазапрос для экранов шире 1200px */
@media only screen and (min-width: 1200px) {
    .container img {
        width: 48%; /* Изображения занимают 48% ширины родительского контейнера */
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container img {
        width: 48%; /* Изображения занимают 48% ширины родительского контейнера */
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        width: 80%; /* Изображения занимают 80% ширины родительского контейнера */
        margin-bottom: 20px;
    }
    .text, .text1 {
        width: 100%;
        padding: 10px;
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        width: 90%; /* Изображения занимают 90% ширины родительского контейнера */
        margin-right: 15%;
        margin-bottom: 20px;
    }
    .text, .text1 {
        width: 100%;
        padding: 10px;
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        width: 90%; /* Изображения занимают всю ширину родительского контейнера */
        margin-bottom: 20px;
    }
    .text, .text1 {
        width: 100%;
        padding: 10px;
    }
}



.mission-image {
    width: 100%;
    height: auto;
}

/* Медиазапрос для экранов шире 1200px */
@media only screen and (min-width: 1200px) {
    .mission-image {
        width: 100%; /* Изображение занимает всю ширину родительского контейнера */
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mission-image {
        width: 100%; /* Изображение занимает всю ширину родительского контейнера */
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mission-image {
        width: 97%; /* Изображение занимает всю ширину родительского контейнера */
        margin-right: 15%;
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mission-image {
        width: 95%; /* Изображение занимает всю ширину родительского контейнера */
        margin-right: 15%;
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    .mission-image {
        width: 90%; /* Изображение занимает всю ширину родительского контейнера */
    }
}


@media only screen and (min-width: 1200px) {
    #admission .container {
        justify-content: space-between;
    }

    #admission .container img {
        flex: 0 1 30%;
        max-width: 30%;
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #admission .container {
        justify-content: space-between;
    }

    #admission .container img {
        flex: 0 1 30%;
        max-width: 30%;
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #admission .container {
        flex-direction: column;
        align-items: center;
    }

    #admission .container img {
        flex: 0 1 45%;
        max-width: 45%;
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #admission .container {
        flex-direction: column;
        align-items: center;
    }

    #admission .container img {
        flex: 0 1 70%;
        max-width: 70%;
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    #admission .container {
        flex-direction: column;
        align-items: center;
    }

    #admission .container img {
        flex: 0 1 100%;
        max-width: 100%;
    }
}





/* Медиазапрос для экранов шире 1200px */
@media only screen and (min-width: 1200px) {
    header {
        padding: 40px;
    }

    header h1 {
        font-size: 2.5em;
    }
}

/* Медиазапрос для экранов от 992px до 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        padding: 30px;
    }

    header h1 {
        font-size: 2.2em;
    }
}

/* Медиазапрос для экранов от 768px до 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .logo {
        margin-bottom: 20px;
        flex: 0 1 45%;
        max-width: 45%;
    }

    header h1 {
        font-size: 2em;
    }
}

/* Медиазапрос для экранов от 480px до 767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .logo {
        margin-bottom: 15px;
        flex: 0 1 75%;
        max-width: 75%;
    }

    header h1 {
        font-size: 1.8em;
    }
}

/* Медиазапрос для экранов до 479px */
@media only screen and (max-width: 479px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    header .logo {
        margin-bottom: 10px;
        flex: 0 1 100%;
        max-width: 100%;
    }

    header h1 {
        font-size: 1.5em;
    }
}



header {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
}

.logo img {
    width: 100px; /* Устанавливаем ширину логотипа */
    height: auto; /* Автоматически подстраиваем высоту */
    margin-right: 400px; /* Добавляем отступ между логотипом и названием */
}



.container {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    box-shadow: 0 8px 16px 0 rgba(90, 89, 89, 0.2);
}

.container .text {
    margin-left: 20px;
}


.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin-left: 20px; /* Отступ слева для размещения текста рядом с изображением */
    margin-right: 20px; /* Отступ слева для размещения текста рядом с изображением */
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.text1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin-left: 20px; /* Отступ слева для размещения текста рядом с изображением */
    margin-right: 20px; /* Отступ слева для размещения текста рядом с изображением */
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

img {
    max-width: 100%; /* Чтобы изображение не выходило за пределы родительского контейнера */
    height: auto; /* Автоматическое подстраивание высоты */
    margin-bottom: 2%;
    margin-left: 2%;
}

h1{
   
    text-align: center; /* Выравниваем заголовок по центру */
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center; /* Выравниваем заголовок по центру */
    font-family: 'Times New Roman', Times, serif;
}

.Welcome{
    text-align: center; /* Выравниваем заголовок по центру */
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-size: xx-large;
}



.main {
    background-color: #ffffff;
    padding: 20px;
    opacity: 0.9;
}



.contact
{
    color: white;
text-align: center;
background-color: rgb(14, 14, 90);
padding-bottom: 2%;
font-family: 'Times New Roman', Times, serif;
font-size:larger;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
}

.mission-image {
    padding: 1%;
}

header {
    background-color: #1f5c9d;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #edf3fa;
    padding: 10px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}
section {
    padding: 20px;
}
footer {
    background-color: #1f5c9d;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}



.card-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    color:rgb(54, 54, 54);
    flex-flow: row wrap;
    background-color: #f4f4f4;
    opacity: 0.9;
    justify-content: center;
  }

  .texts {
    flex: 1;
    padding: 20px;
  }

  .card {
    display:grid;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 0.5em;
    flex: 0 0 calc(33.33% - 20px);
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #ffffff;
    margin: 1pc;
  }


  .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .card-content {
    font-size: 1rem;
    color: #555;
  }
  .card-image {
    width: 70%;
    border-radius: 8px;
    margin-top: 10px;
    
  }


  .card:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.contact {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.karta{
  max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
    height: auto; /* Автоматически рассчитывает высоту изображения, чтобы сохранить соотношение сторон */
}
